body{
    background: dodgerblue;
    text-align: center;
    color: white;
    font-family: helvetica;
}


#timerHour,
#timer,
#second,
.large{
    display: inline-block;
    font-size: 300px;
    padding: 0;
    margin: 0;
}
#result{
    font-size: 100px
}